body {
  color: #777777;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  background-color: #ffffff;
  border-color: #dddddd;
  text-align: left;
  box-align: center;
  width: 960px;
  margin: 10%;
}

h1,
#name {
  font-family: 'Georgia', 'Times New Roman', Times, serif;
  color: #4aaaa5;
  clear: both;
}

a {
  float: right;
}

#name {
  color: white;
  background-color: #4aaaa5;
  padding: 10px 10px 15px 10px;
}

header {
  background-color: #ffffff;
  border-color: #cccccc;
}

.footer {
  background-color: #666666;
}

.aboutme {
  margin: 10%;
}
